h1 {
    color: rgba(15, 15, 15, 0);
    /* Adicionar mais estilos conforme necessário */
}
p {
    color: rgb(253, 172, 217);
    /* Adicionar mais estilos conforme necessário */
}
button {
    background-color: ciano;
    color: rgb(255, 165, 236);
    border: none;
    /* Adicionar mais estilos conforme necessário */
}
img {
    /* Adicionar estilos para formatar a imagem */
}
/* Adicionar mais estilos conforme necessário */
